@import "../../Assets/variables.scss";

.ToDoEntity__container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 600px;
    font-size: 1rem;
    color: black;
    justify-content: space-between;
    transition: 0.3s ease-in;
    padding: 10px;

    &_button-complete
    {
        background: $green;
        color: white;
        border: none;
        padding: 1rem;
        cursor: pointer;
        font-size: 1rem;
        transition: 0.3s ease-in;
    }

    &_button-complete:hover
    {
        background-color: $green-hover;
    }

    &_button-complete:active
    {
        background-color: $green-press;
    }

    &_button-delete
    {
        background: $orange;
        color: white;
        border: none;
        padding: 1rem;
        cursor: pointer;
        font-size: 1rem;
        margin-left: 5px;
        transition: 0.3s ease-in;
    }

    &_button-delete:hover
    {
        background-color: $orange-hover;
    }

    &_button-delete:active
    {
        background-color: $orange-press;
    }
}