$orange: #ff6f47;
$orange-hover: #d85430;
$orange-press: #9c381d;
$secondary-white: #f7fffe;

$green: rgb(11, 212, 162);
$green-hover: rgb(3, 166, 125);
$green-press: rgb(1, 116, 87);

$grey: rgb(190, 190, 190);